In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

In [3]:
df["Name"] = ["Gaurav","Akshay","Prajakta","Amol","Mayuri"]
df["Employed"] = ["yes","yes","yes","no","yes"]
df["Gender"] = ["Male","Male","Female","Male","Female"]
df["Age"] = [22,27,None,20,None]

df

       Name Employed  Gender   Age
0    Gaurav      yes    Male  22.0
1    Akshay      yes    Male  27.0
2  Prajakta      yes  Female   NaN
3      Amol       no    Male  20.0
4    Mayuri      yes  Female   NaN

In [4]:
df['Age'].sum()/df["Age"].count()

23.0

In [5]:
def handle_null_values(dataframe,col):
    mean = df[col].mean()
#     print(mean)
    return dataframe.fillna(mean)

In [6]:
def mean_age_by_group(dataframe,col):
    return dataframe.groupby(col).mean()

In [7]:
def uppercase_col(dataframe):
    dataframe.columns = dataframe.columns.str.upper()
    return dataframe

In [8]:
# create a pipeline that applies both the functions
df.pipe(handle_null_values,col = "Age").pipe(mean_age_by_group,col = "Gender").pipe(uppercase_col)

         AGE
Gender
Female  23.0
Male    23.0

In [9]:
handle_null_values(df,"Age")
df

       Name Employed  Gender   Age
0    Gaurav      yes    Male  22.0
1    Akshay      yes    Male  27.0
2  Prajakta      yes  Female   NaN
3      Amol       no    Male  20.0
4    Mayuri      yes  Female   NaN

In [10]:
df.empty

False

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')

df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')

plt.show()

FileNotFoundError: [Errno 2] File data.csv does not exist: 'data.csv'