# abs()

In [4]:
def sub(a,b):
    return abs(a-b)

print(sub(1,5))
print(sub(5,1))

4
4

# all()

Returns True if all items in an iterable object are true

In [6]:
list_a = [1,2,3]
print(all(list_a))

True

In [7]:
list_a = [1,2,3,"ahsgdjh"]
print(all(list_a))

True

In [8]:
list_a = [0,2,3]
print(all(list_a))

False

In [10]:
list_a = ["True",1,2,3,0]
print(all(list_a))

False

In [11]:
list_a = [1,2,3,False]
print(all(list_a))

False

In [12]:
set_a={1,2,3,4}
print(all(set_a))

True

In [13]:
set_a={1,2,3,4,0}
print(all(set_a))

False

In [14]:
set_a={1,2,3,4,False}
print(all(set_a))

False

When used on a dictionary, the all() function checks if all the keys are true, not the values.

In [17]:
mydict = {0 : "Apple", 1 : "Orange"}
print(all(mydict))

False

# any()

Returns True if any item in an iterable object is true

In [23]:
set_a={False,1}
print(any(set_a))

True

# ascii()

The ascii() function returns a readable version of any object (Strings, Tuples, Lists, etc).

In [25]:
x = ascii("My name is St√•le")
print(x)

'My name is St\xe5le'

# bin()

In [26]:
print(bin(10))

0b1010

# bytearray()

In [18]:
x = bytearray("asdasd","utf-8")
for i in x:
    print(chr(i))
    

x[0] = 98


print(chr(x[0]))

a
s
d
a
s
d
b

In [6]:
x = bytes("asdasd","utf-8")
for i in x:
    print((i))
    
#x[0] = 98 # bytes' object does not support item assignment

97
115
100
97
115
100

TypeError: 'bytes' object does not support item assignment

# callable()

In [ ]:
def x():
  a = 5

print(callable(x))

In [7]:
x = 5
print(callable(x))

False

# chr ()

In [9]:
print(chr(97))

a

# classmethod()

In [28]:
class Person:
    age = 25
    
    def __init__(self,x):
        self.age = x
    
    def printAge(cls):
        print('The age is:', cls.age)
    
    def printAge1(cls):
        print('The age is:', cls.age)

# create printAge class method
Person.printAge = classmethod(Person.printAge)
Person.printAge()
p = Person(30)
p.printAge()
p.printAge1()

The age is: 25
The age is: 25
The age is: 30


# complex()

In [30]:
x = complex(3, 5)
print(x)

(3+5j)

# delattr(object, attribute)

In [32]:
class Person:
    
    name = "John"
    age = 36
    country = "Norway"

delattr(Person, 'age')

In [33]:
Person.name

'John'

In [34]:
Person.age

AttributeError: type object 'Person' has no attribute 'age'

# dict()

In [35]:
x = dict(name = "John", age = 36, country = "Norway")
print(x)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# dir()

In [36]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'country',
 'name']

# divmod()

divmod(dividend, divisor)

In [38]:
divmod(11,2)

(5, 1)

# enumerate()
The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

The enumerate() function adds a counter as the key of the enumerate object.

In [39]:
eval("5+2")

7

In [41]:
exec("print('hi')")

hi

In [42]:
float(5)

5.0

In [44]:
# format(value, format)
format(0.5,'%')

'50.000000%'

In [48]:
format(10,'b')

'1010'

In [49]:
format(10,'o')

'12'

In [53]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
y = set(mylist)
print(x)
print(y)

frozenset({'banana', 'cherry', 'apple'})
{'banana', 'cherry', 'apple'}

In [54]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
#x[1] = "strawberry" 
# TypeError: 'frozenset' object does not support item assignment
print(x)

TypeError: 'frozenset' object does not support item assignment